<script type="text/javascript">
function validateForm()
{
// var x=document.forms["search"]["created_at"].value;
var y=search.created_at.value;
var data_valid=/^(0?[1-9]|[12][0-9]|3[01])[\/.](0?[1-9]|1[012])[\/.](19|20)\d\d$/;
// causes error anyway if data entered didn't exists
if (!data_valid.test(y) && !(y.length == 0))
  {
  alert("Not a valid data field. Enter the data in appropriate format: dd/mm/yyyy or dd.mm.yyyy");
  search.created_at.focus();
  return false;
  }
}
</script>

<br />
Search form
<br />
<form name="search" action="/" onsubmit="return validateForm();" method="get">
 Created at: <input type="text" name="created_at"  /><br />
 Owned by:   <select name="owned_by"  />
 <% @users.each do |u| %>  
 <option> <%= u %> </option>
  <% end %>
  <input type="submit" />
</form>
 <%= "Search criteria Created at: "+params[:created_at] if !params[:created_at].blank? %><br />
 <%= "Search criteria Owned by: "+params[:owned_by] if !params[:owned_by].blank? %>
<hr />
BUSG
  <table>
    <tr>
      <th>ID</th>
      <th>Story</th>
    </tr>
    <% @bug_v.each do |hash| %>
    <tr>
      <td><%= '[#'+hash.fetch('Id', 'no Id')+']'  %></td>
      <td><%= ' - '+hash.fetch('Story', 'no Story') %></td>
                  <td><%= hash.fetch('Current State', 'no Current State') %></td>
            <td><%= hash.fetch('Created at', 'no Created at') %></td>
            <td><%= hash.fetch('Owned By', 'no Owned By') %></td>
    </tr>
    <% end %>
  </table>

  <hr />

  OTHERS
   <table>
    <% @not_bug_v.each do |hash| %>
    <tr>
      <td><%= '[#'+hash.fetch('Id', 'no Id')+']'  %></td>
      <td><%= ' - '+hash.fetch('Story', 'no Story') %></td>
                        <td><%= hash.fetch('Current State', 'no Current State') %></td>
            <td><%= hash.fetch('Created at', 'no Created at') %></td>
            <td><%= hash.fetch('Owned By', 'no Owned By') %></td>
    </tr>
    <% end %>
  </table>